[package]
name = "mumd"
version = "0.1.0"
authors = ["Gustav Sörnäs <gustav@sornas.net>",
           "Eskil Queseth <eskilq@kth.se>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
argparse = "0.2"
bytes = "0.5"
cpal = { git = "https://github.com/RustAudio/cpal" }
futures = "0.3"
futures-util = "0.3"
mumble-protocol = "0.3"
native-tls = "0.2"
openssl = { version = "0.10", optional = true }
opus = "0.2"
tokio = { version = "0.2", features = ["full"] }
tokio-tls = "0.3"
tokio-util = { version = "0.3", features = ["codec", "udp"] }

#clap = "2.33"
#compressor = "0.3"
#daemonize = "0.4"
#ipc-channel = "0.14"
